{% extends 'base/base.html' %}

{% block Header %} {% endblock %}

{% block Sidebar %} {% endblock %}

{% block main %} {% endblock %}

{% block study %} {% endblock %}

{% block matery %}

<main id="main" class="main">

  <section class="section">
    <div class="row align-items-top">
      <div class="col-lg-7">


        <!-- Card with header and footer -->
        <div class="card">


          <div class="card-footer">

            <form method="post">

              <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"
                    aria-label="Slide 7"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7"
                    aria-label="Slide 8"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8"
                    aria-label="Slide 9"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9"
                    aria-label="Slide 10"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="10"
                    aria-label="Slide 11"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="11"
                    aria-label="Slide 12"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="12"
                    aria-label="Slide 13"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="13"
                    aria-label="Slide 14"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="14"
                    aria-label="Slide 15"></button>
                </div>
                <div class="carousel-inner">

                  <div class="form-group">
                    <div class="carousel-item active">
                      <img src="/static/assets/img/wp.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Usuario</h5>
                        <input class="form-control" type="text" value="usuario">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="carousel-item">
                      <img src="/static/assets/img/english1.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>¿Nombre del estudiante?</h5>
                        <input class="form-control" type="text" name="Nombre">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="carousel-item">
                      <img src="/static/assets/img/english1.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>1.	VERB HAVE</h5>
                        <input class="form-control" type="text" name="English1">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="carousel-item">
                      <img src="/static/assets/img/english2.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>2.   VERB LEARN</h5>
                        <input class="form-control" type="text" name="English2">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="carousel-item">
                      <img src="/static/assets/img/english3.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>3.	VERB START</h5>
                        <input class="form-control" type="text" name="English3">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="carousel-item">
                      <img src="/static/assets/img/english4.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>4.	VERB DISCOVER</h5>
                        <input class="form-control" type="text" name="English4">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="carousel-item">
                      <img src="/static/assets/img/english5.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>5.	VERB ESTABLISH</h5>
                        <input class="form-control" type="text" name="English5">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="carousel-item">
                      <img src="/static/assets/img/english6.png" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="carousel-item">
                      <img src="/static/assets/img/english7.png" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="carousel-item">
                      <img src="/static/assets/img/wp.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>6.	At the age of 25, Jamie Oliver</h5>
                        <h5>A). got married
                          B) went on television
                          C) met the queen</h5>
                        <input class="form-control" type="text" name="English6">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="carousel-item">
                      <img src="/static/assets/img/wp.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>7.	Now Jamie Oliver</h5>
                        <h5>A) does some work for superma
                          B) writes articles for several newspaper
                          C) is the top selling author in Britain</h5>
                        <input class="form-control" type="text" name="English7">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="carousel-item">
                      <img src="/static/assets/img/wp.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>8.	Jamie's restaurant is called Fifteen because of</h5>
                        <h5>A) the first staff there
                          B) the street number
                          C) C) the opening hours/h5>
                        <input class="form-control" type="text" name="English8">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="carousel-item">
                      <img src="/static/assets/img/wp.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>9.	The cooks who joined Fifteenr</h5>
                        <h5>A) came from other restaurants
                          B) were already at college
                          C)had no training in cooking</h5>
                        <input class="form-control" type="text" name="English9">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="carousel-item">
                      <img src="/static/assets/img/wp.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>10.	The idea for Fifteen came fromr</h5>
                        <h5>A) friend of Jamie's wife
                          B) Jamie's wife
                          C) Jamie</h5>
                        <input class="form-control" type="text" name="English10">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="carousel-item">
                      <img src="/static/assets/img/wp.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>11.	Jamie would like to</h5>
                        <h5>A) have more weekends at home
                          B) do just what he is doing now
                          C) spend less time cooking</h5>
                        <input class="form-control" type="text" name="English11">
                      </div>
                    </div>
                  </div>

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>

              </div><!-- End Slides with captions -->

              <br>

              {% csrf_token %}

              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="form-group">
                    <button class="btn btn-primary " type="submit">Guardar</button>
                  </div>
                </div>
              </div>

              <br>

            </form>

          </div>
        </div><!-- End Card with header and footer -->



      </div>

    </div>
  </section>

</main><!-- End #main -->

{% endblock %}

{% block Footer %} {% endblock %}