{% extends 'base/base.html' %}

{% block Header %} {% endblock %}

{% block Sidebar %} {% endblock %}

{% block main %} {% endblock %}

{% block study %} {% endblock %}

{% block matery %}

<main id="main" class="main">

    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-7">


                <!-- Card with header and footer -->
                <div class="card">


                    <div class="card-footer">

                        <form method="post">

                            <!-- Accordion without outline borders -->
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                            aria-expanded="false" aria-controls="flush-collapseOne">
                                            Usuario
                                        </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                        <input class="form-control" type="text" value="{{ user.username }}">
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                            aria-expanded="false" aria-controls="flush-collapseTwo">
                                            ¿La existencia de isótopos viola una de las ideas originales de la teoría atómica de Dalton. ¿Cúal??
                                        </button>
                                    </h2>
                                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                        <input class="form-control" type="text" name="Chemistry1">
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                            aria-expanded="false" aria-controls="flush-collapseThree">
                                            ¿En qué se parecen los electrones y los protones? ¿En qué se diferencian?
                                        </button>
                                    </h2>
                                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                        <input class="form-control" type="text" name="Chemistry2">
                                    </div>

                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingFour">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseFour"
                                            aria-expanded="false" aria-controls="flush-collapseFour">
                                            ¿En qué se parecen los protones y los neutrones? ¿En qué se diferencian?
                                        </button>
                                    </h2>
                                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                            <input class="form-control" type="text" name="Chemistry3">
                                    </div>
                                </div>
                                
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingFive">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseFive"
                                            aria-expanded="false" aria-controls="flush-collapseFive">
                                            El Ibuprofeno, C13H18O, es un compuesto covalente y el ingrediente activo en varios medicamentos contra el dolor populares sin receta, como Advil y Motrin. ¿Cuál es la masa molecular (amu) para este compuesto?
                                        </button>
                                        <h2>Masa molecular: C=12.01 H=1.008 O=16.0</h2>
                                    </h2>
                                    <div id="flush-collapseFive" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">    
                                            <input class="form-control" type="text" name="Chemistry4">
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingSix">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseSix"
                                            aria-expanded="false" aria-controls="flush-collapseSix">
                                            De acuerdo con las reglas nutricionales del Departamento de Agricultura de los EE.UU., El requerimiento promedio estimado de potasio en la dieta es de 4,7 g. ¿Cuál es el requerimiento promedio estimado de potasio en moles?
                                        </button>
                                        <h2>39,10 amu</h2>
                                    </h2>
                                    <div id="flush-collapseSix" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                                            <input class="form-control" type="text" name="Chemistry5">
                                    </div>
                                </div>

                                <!-- End Accordion without outline borders -->

                                <br>

                                {% csrf_token %}

                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="form-group">
                                            <button class="btn btn-primary " type="submit">Guardar</button>
                                        </div>
                                    </div>
                                </div>

                                <br>

                        </form>

                    </div>
                </div><!-- End Card with header and footer -->



            </div>

        </div>
    </section>

</main><!-- End #main -->

{% endblock %}

{% block Footer %} {% endblock %}