{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Responsive Registration Form | CodingLab </title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4854452689678467"
     crossorigin="anonymous"></script>


</head>

<body>

  <div class="container">
    <div class="title">STUDY</div>
    <div class="title">Registro</div>
    <div class="content">

      <form method="post">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Guardar</button>

      </form>

    </div>
  </div>

</body>

</html>